<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 定義日誌紀錄等級 -->
	<targets>
		<!-- 輸出到檔案 -->
		<target xsi:type="File" name="file" fileName="${basedir}/../Logs/${shortdate}.log"
				layout="${longdate} ${level} ${message} ${exception}" />

		<!-- 輸出到主控台 -->
		<target xsi:type="Console" name="console" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<!-- 定義日誌規則 -->
	<rules>
		<!-- 設定所有的日誌輸出到檔案和主控台 -->
		<logger name="*" minlevel="Info" writeTo="file,console" />
	</rules>
</nlog>